# Entornos virtuales
venv/
.env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Archivos de sistema
desktop.ini

# Datos (recomendado)
*.csv
*.xlsx

# Outputs
*.png

# Notebooks que no quiero versionar
Graph_Generator.py
ProcessingGroupFileForAnalysis.py
SqlCompletdStatusFirst.py
SqlConnectedFirst.py
SqlConnectedFirst1.py
outlierDetectionV1.py
outlierDetectionV2.py